# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Ide
.vscode/
.idea/

# System
.DS_Store

# Redis
dump.rdb

# Application Data (JSON files acting as DB)
pos_data.json
vas_data.json
sales_data.json
pos_event.json
vas_event.json
vas_metadata.json
pos_processed_metadata.json
mapping.json

# Lock files
*.lock
